<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>surajsanyal.com</title>
</head>

<body>
    <nav>
        <p><a href="/resume">Resume</a></p>
        <p><a href="/pages">Blog</a></p>
    </nav>

    <div class="hero">
        <h1>"Suraj" means "<span class="sun">Sun.</span>"</h1>
        <p class="subtitle">I'm Suraj Sanyal. I hope your day’s a little brighter after getting to know me.</p>
    </div>
</body>

<footer>Special thanks to Erikson Arias. <3</footer>

<script src="/static/js/site.js"></script>

</html>