<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>

<body>
    <h1>Hello</h1>
    <h2>The current year is {{ year | safe }}. I know this because I exposed a Python variable with the year to the Jinja templating engine in <code>server.py</code>.</h2>
    <p><a href="/markdown-example">Click here for a page that is built using a Markdown file.</a></p>
    <p><a href="/pages">Click here for a page that automatically catalogs all Markdown.</a></p>
</body>

<script src="/static/js/site.js"></script>

</html>