<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pages</title>
</head>

<body>
    <div class="hero">
        <h1>Pages</h1>
        <p class="subtitle">Here's some things I've written:</p>
    </div>

    <div class="page-list">
        {% for page in catalog.pages %}
        <a href="/pages/{{ page.id }}" class="page-item">
            <h2>
                <span class="page-title">{{ page.meta.get("title") | safe }}</span>
            </h2>
            <span>{{ page.meta.get("date") | safe }}</span>
        </a>
        {% endfor %}
    </div>
</body>

<script src="/static/js/site.js"></script>

</html>