<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>surajsanyal.com</title>
</head>

<body>
    <header>
        <h1>I'm a marketer in an engineer's body.</h1>
        <p class="subtitle">And I'm happy that way. :)</p>
    </header>
</body>

<script src="/static/js/site.js"></script>

</html>