:root {
    --bg-color: #ffede2;
    --text-color: #2e3133;
    --red: #9a0000;
    --green: #075730;
    --orange: #e74d02;
    --gray: #5a646d;
    --gold: #fCB42C;

    --font-family: 'Spectral', Spectral, Arial, sans-serif;
}

html {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
}

.hero {
    padding: 2rem;
    text-align: center;
    font-style: italic;

    h1 {
        color: var(--green);
    }

    .subtitle {
        color: var(--gray);
        font-size: 1.25rem;
    }

    .sun {
        color: var(--orange);
    }
}

.page-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
}

.page-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--gray);
    border-radius: 8px;
    background-color: #ffdaa5;
    width: 50%;

    h2 {
        margin-top: 0;
        color: var(--red);
    }

    p {
        color: var(--text-color);
    }
}

.page-item:hover {
    background-color: #ffcc80;
}

footer {
    text-align: center;
    padding: 1rem;
    color: var(--gold);
    font-size: 0.875rem;
}

#markdown-content {
    h1 {
        color: var(--red);
    }

    blockquote {
        font-style: italic;
    }
}